footer {
	padding: 10px 0;
	clear: both !important;
}

.footer-links a {
	padding: 5px;
}

.footer-links a:hover {
	text-decoration: none;
}

input.input-big {
	padding: 8px;
}

.clear {
	clear: both !important;
}

.spacer-right-medium {
	margin-right: 10px;
}

.center-align {
	margin: 0 auto !important;
	float: none !important;
	display: block !important;
}

.search-item {
	padding: 10px;
}

.search-item:nth-child(even) {
	background: whitesmoke;
}

.search-items-wrapper {
	border-left: dashed 1px #ccc; 
}


#search_submit {
	margin-top: -2px;
}

.sports-container .btn {
	margin: 0 5px 15px 0;	
}


.loadingPage {
	width: 100%;
	height: 100%;
	z-index: 5;
	background: #333;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.75; 
	filter: alpha(opacity=75); /* IE 7+ */ 
}

.loadingPage p { 
	position: absolute;
	top: 40%;
	color: #fff;
	left: 40%;
	font-size: 1.5em;
}

.label {
	font-size: 1em;
}

.info-wrapper {
	padding: 0.5em 0; 
}

#map_canvas { 
	width: 400px; height: 300px; 
}

.text-center {
	text-align: center;
	margin: 0 5em;
}

.logo-container h3 {
	font-family: Cambria, Georgia, Helvetica, Times, sans-serif;
	color: #333;
	text-shadow: 0px 2px 3px #ddd;
	padding: 0.5em;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.3em;
}

a[rel="external"] {
	padding-right: 1.4em;
	background: url(../img/external.png) top right no-repeat;
} 
