<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sports Directory{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
	<meta property="og:title" content="{% block og_meta_title %}Sports Directory{% endblock %}" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />		
	<meta property="og:url" content="{% block og_meta_url %}http://www.thesportsdirectory.ca/{% endblock %}" />    
    <meta name="author" content="{% block site_author %}The Sports Directory{% endblock %}" />

    <!-- Le styles -->   
    {% block stylesheets %}    
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <style type="text/css">
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>    
    <link href="{{ asset('assets/css/bootstrap-responsive.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet" />    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	{% endblock %}	
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url('_welcome') }}">Sports Directory</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ url('_welcome') }}">Home</a></li>
              <li><a href="{{ url('sports') }}">Sports</a></li>
{#			  <li><a href="#" title="Add a new Club">Add New</a></li>   #}              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
		
		{% block search_body %}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
				
					<div class="logo-container">
						<h3>The Sports <span class="logo-dir">Directory</span> </h3>
					</div>
					
					<div class="sidebar-left">
					{% block sidebar_left %}
					
					{% endblock %}
					</div>
				
				</div> <!-- span2 ends -->
				<div class="span8">
					<div>
						{% include 'SportsSiteBundle:Core:searchform.html.twig' 
								with { 'q' : q | default(''), 'l': l | default('') } %}					
					</div>
					
					<div class="sidebar-right">
					{% block sidebar_right %}

					{% endblock %}						
					</div>
				
				</div>	<!-- span10 ends -->	
			</div>
		</div>
      {% endblock %}
    	
	  {% block main_body %}

      
      {% endblock %}

      <hr />

      <footer>
	  {% block copyright_block %}       
       <div class="pull-right footer-links">
       	<a href="{{ url('about') }}" title="About">About</a>
       	<a href="{{ url('contact') }}" title="Contact">Contact</a>      
       </div> 
       <p>&copy; 2012 Liquid Labs Inc.</p>
	  {% endblock %}       
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    {% block javascripts %}        
    	<script src="{{ asset('assets/js/jquery-1.7.2.min.js') }}" type="text/javascript"></script>
    	<script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    	
    	{% block javascripts_add %} 
    	{% endblock %}
    	

		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-33923817-1']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>    	
    {% endblock %}

  </body>
</html>
