{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block title %} Contact | {{ parent() }} {% endblock %}

{# hide the search form #} 
{% block search_body %} {% endblock %}

{% block main_body %}

	<div class="page-header">
		<h1>
			Contact
			<small>Get in touch with us</small>
		</h1>
	</div>

<form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }} class="well">
	
	<p>
		For any questions or feedback, contact us by filling out the form below:
	</p>	

	{{ form_errors(form) }}
	
	{{ form_row(form.name) }}
	
	{{ form_row(form.email) }}
	
	{{ form_row(form.body) }}
	
	{{ form_rest(form) }}
	
    <input class="btn btn-primary" type="submit" value="Submit" />
</form>



{% endblock %}