	<script type="text/javascript">
		
		$(function() {

				$('#sports_type').typeahead({ 
					source: ['Archery','ATV','Badminton','Baseball','Basketball','Biathlon','Pool','Bird Watching',
							 'Board Games','Bobsleigh','Bocce','Bowling','Boxing','Broomball','Bungee Jumping','Camping',
							 'Canoe','Car Racing','Card Games','Caving','Cricket','Croquet','Curling','Cycling','Darts',
							 'Dirt Bikes','Dodgeball','Dog Sledding','Dragonboat','Driving Range','Equestrian','Fencing',
							 'Ice Fishing','Football','Frisbee','Gaelic Football','Go-Karting','Golf','Gymnastics','Handball',
							 'Hang Gliding','Hiking','Ball Hockey','Field Hockey','Ice Hockey','Inline Hockey','Horse Racing',
							 'Horseback Riding','Horseshoe Pitch','Hunting','Ice Skating','Inline Skating','Karate','Kayak',
							 'Kickboxing','Kiting','Kung Fu','Lacrosse','Lawn Bowling','Marinas','Mini-Golf','Motorcycle',
							 'Netball','Orienteering','Paintball','Paragliding','Poker','Polo','Rafting','Rock Climbing',
							 'Roller Derby','Roller Skating','Rowing','Rugby','Running','RVing','Scuba Diving','Shooting',
							 'Skateboard','Skiing','Skydiving','Snow Tubing','Snowboard','Snowmobiling','Snowshoeing','Soccer',
							 'Softball','Speedskating','Squash','Swimming','Table Tennis','Tae Kwon Do','Tai Chi','Tennis',
							 'Toboggan','Touch Football','Track and Field','Triathlon','Beach Volleyball','Volleyball',
							 'Wake Boarding','Walking','Water Skiing','Waterpolo','Weightlifting','Windsurfing','Wrestling',
							 'Yachting','Yoga']
				});

/*			
			$('body').append('<div class="loadingPage"><p>Loading Page..</p></div>');
						
			$.ajax({
				url: "{{ path('sports', { 'format' : 'json'}) }}",
				dataType: "json"
			}).done(function(data) {
							
				$('.loadingPage').remove();
				
			}).error(function(jqXHR, textStatus, errorThrown) {			
				$('.loadingPage').remove();
			});
*/
				
		});
	
	</script>
