<script type="text/javascript">

	$(function() {
	
		$('#map_canvas')
			.addClass("alert alert-error")
			.html('<h3>Oh snap!. Unable to embed Map as we do not have proper Address</h3>');
	
	});


</script>