{# 
	Draws the Google Maps based on lat, lon and title passed. The page from where
	this is called MUST HAVE an id called "map_canvas" where the map is to be drawn
	
	- @params required:
		key - key passed is maps_key which is defined in parameters.ini in app/config 
		lat - 
		lon - 
		title -  		 	
#}

	<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ key }}&sensor=false">
    </script>
    <script type="text/javascript">
      function loadMap() {
      	var latlon = new google.maps.LatLng({{ lat }}, {{ lon }});
        var mapOptions = {
          center: latlon,
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            						  mapOptions);
            
        var marker = new google.maps.Marker({
        	position: latlon,
        	map: map,
        	title: '{{ title }}'
      	});      
      }
      
      $(function() {
      		loadMap();
       });
    </script>