{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block main_body %}

	<h2>Page Not Found</h2>
	
	<h4>Oh snap!. There's nothing here for you. 
		Looks like you have hit a deadend. Please try another route.
	</h4>
{% endblock %}