{% extends 'SportsSiteBundle:Core:base.html.twig' %}

{% block title %} Sports | {{ parent() }} {% endblock %}

{% block search_body %} {% endblock %}

{% block main_body %}
	
	<div class="page-header">
		<h1>
			Sports
			<small>The type of sports in our listings</small>
		</h1>
	</div>
	
	<div class="row sports-container">
		<div class="span8 well">		
		{% for sport in sports %}
			<a class="btn" href="#">{{ sport }}</a>					
		{% else %}	
			<div class="alert alert-error fade in">
				Oh Snap, Looks like there's an problem in our website.
				<br />  We do not have any sports listing available. Please try again later. 
			<div>	
		{% endfor %}
		</div>
	</div>


{% endblock %}